    /*
    Flaticon icon font: Flaticon
    Creation date: 20/10/2019 12:41
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-sketch:before { content: "\f100"; }
.flaticon-watering-plant:before { content: "\f101"; }
.flaticon-mail:before { content: "\f102"; }
.flaticon-carpenter:before { content: "\f103"; }
.flaticon-varnish:before { content: "\f104"; }
.flaticon-electrician:before { content: "\f105"; }
.flaticon-tap:before { content: "\f106"; }
.flaticon-housekeeping:before { content: "\f107"; }
.flaticon-postal:before { content: "\f108"; }
    
    $font-Flaticon-sketch: "\f100";
    $font-Flaticon-watering-plant: "\f101";
    $font-Flaticon-mail: "\f102";
    $font-Flaticon-carpenter: "\f103";
    $font-Flaticon-varnish: "\f104";
    $font-Flaticon-electrician: "\f105";
    $font-Flaticon-tap: "\f106";
    $font-Flaticon-housekeeping: "\f107";
    $font-Flaticon-postal: "\f108";