{% extends 'base.html' %}
{% load static %}
{% block menu %}
	<li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
	<li class="nav-item" ><a href="{% url 'Product' %}" class="nav-link">Products</a></li>
	<li class="nav-item"><a href="{% url 'agents' %}" class="nav-link">Agents</a></li>
	<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
	<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
{% endblock %}
{% block content %}


<section class="ftco-section contact-section" style="background-image: url({% static 'images/bg_1.jpg' %});">
  <div class="container">
    <div class="row">
      <div class="col-md-9">

<div class="card" style="border-radius: 8px;">
    <center><h5 class="card-header">All Product</h5></center> 
      <div class="card-body p-0">
          <div class="table-responsive">
              <table class="table">
                  <thead class="bg-light">
                      <tr class="border-0">
                        
                          <th class="border-0" style="width: 10px; height:10px;">Image</th>
                          <th class="border-0">Tagline</th>
                         
                          <th class="border-0">Price</th>
                          <th class="border-0">Discount</th>
                          <th class="border-0" >Date</th>

                          <th class="border-0" >Quantity</th>
                          <th class="border-0" >Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for ia in cart %}
                      <tr>
                          <td>
                              <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                              <body>
                                  <img src="{{ ia.product.Product_image.url }}" style="width:70px; cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
                                
                              <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                                <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                <div class="w3-modal-content w3-animate-zoom">
                                  <img id="img01" style="width:100%">
                                </div>
                              </div>
                              
                              <script>
                              function onClick(element) {
                                document.getElementById("img01").src = element.src;
                                document.getElementById("modal01").style.display = "block";
                              }
                              </script>
                          </td>
                          <td>{{ ia.product.Tagline }}</td>

                          <td>₹{{ ia.product.Product_Price }}</td>
                          <td>₹{{ ia.product.discount}}</td>
                           <td>{{ ia.date }}</td>
                          <td>{{ ia.Cart_quantity }}</td>
                          <td>{{ ia.total }}</td>

                      </tr>
                       {% endfor %} 
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<div class="col-md-3 tabel bg-light" style="width: 225px; height:225px; border-radius: 8px;">
<center>Total Items  
<h1> {{no}}</h1> 
 Total Pries 
<h1> {{total}}</h1>

<input type="submit" value="ORDER"  class="" style="background-color:orange; color:white; width:75px; height:30px; border-radius: 8px;" ><br>

</center>
</div>


  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center ">
      <li class="page-item">
  {% if obj.has_other_pages %}
      {% if obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled page-item"><a class="page-link"> <span>&laquo;</span> </a></li>
      {% endif %}
      {% for i in obj.paginator.page_range %}
        {% if obj.number == i %}
          <li class=" page-item active">
            <a class="page-link"> <span>{{ i }} <span class="sr-only">(current)</span></span> </a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled "><a class="page-link"><span>&raquo;</span></a></li>
      {% endif %}
  {% endif %}   
</li>
</ul>
</nav>      
</div>
</div>
</div>
</div>
</section>
{% endblock %}