
{% extends 'base.html' %}
{% load static %}
{% block menu %}
	<li class="nav-item active" ><a href="{% url 'index' %}" class="nav-link">Home</a></li>
	<li class="nav-item " ><a href="{% url 'Product' %}" class="nav-link">Products</a></li>
	<li class="nav-item"><a href="{% url 'agents' %}" class="nav-link">Agents</a></li>
	<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
	<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>	
{% endblock %}
{% block content %}
    <!-- END nav -->

	<style>
		.oppanding{
			padding-top: 2em;
		  }
	</style>

	<div class="hero-wrap" style="background-image: url({% static 'images/bg_1.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
		  <div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
			  <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}"></a></span> <span></span></p>
			  <h1 class="mb-3 bread">Home</h1>
			</div>
		  </div>
		</div>
	  </div>

    <section class="ftco-search">
    	<div class="container">
	    	<div class="row">
					<div class="col-md-12 search-wrap">
						<h2 class="heading h5 d-flex align-items-center pr-4"><span class="ion-ios-search mr-3"></span> Search Property</h2>
						<form action="#" class="search-property">
	        		<div class="row">
	        			<div class="col-md align-items-end">
	        				<div class="form-group">
	        					<label for="#" style="color: white;">Search</label>
	          				<div class="form-field">
	          					<div class="icon"><span class="icon-pencil"></span></div>
			                <input type="text" class="form-control" placeholder="Keyword">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md align-items-end">
	        				<div class="form-group">
	        					<label for="#" style="color: white;">Location</label>
	          				<div class="form-field">
	          					<div class="icon"><span class="icon-pencil"></span></div>
			                <input type="text" class="form-control" placeholder="City/Locality Name">
			              </div>
		              </div>
	        			</div>
	        			<div class="col-md align-items-end">
	        				<div class="form-group">
	        					<label for="#" style="color:white;"> Property Type</label>
	        					<div class="form-field">
	          					<div class="select-wrap">
	                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                      <select name="" id="" class="form-control">
								<option value="" style="color:white">Type</option>
								<option value="" style="color: black">Maids</option>
								<option value="" style="color: black">Plumber</option>
								<option value="" style="color: black">Painter</option>
								<option value="" style="color: black">Carpentry</option>
								<option value="" style="color: black">Electric repairing</option>
								<option value="" style="color: black">Speed post</option>
								<option value="" style="color:black">Inteior Desigining</option>
								<option value="" style="color: black">gardering</option>
	                      </select>
						</div>
					</div>
				</div>
				  </div>
				  <div class="col-md align-items-end">
					  <div class="form-group">
						  <label for="#" style="color: white;">Status</label>
						  <div class="form-field">
							<div class="select-wrap">
					<div class="icon"><span class="ion-ios-arrow-down"></span></div>
					<select name="" id="" class="form-control">
						<option value="" style="color:white" style="color: white;">Free</option>
					  <option value="" style="color: black">Working</option>
					  <option value="" style="color: black">Enjoying holiday</option>
					</select>
				  </div>
					</div>
				</div>
				  </div>
				
				  <div class="col-md align-items-end">
						<div class="form-group">
							<label for="#" style="color: white;">Agents</label>
							<div class="form-field">
							  <div class="select-wrap">
					  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
					  <select name="" id="" class="form-control">
						  <option value="" style="color:white">Any</option>
						<option value="" style="color: black">Jonh Doe</option>
						<option value="" style="color: black">Mags</option>
						<option value="" style="color: black">Kenny Scott</option>
						<option value="" style="color: black">Emily Storm</option>
					  </select>
					</div>
					  </div>
				  </div>
	        		
</div>
</div>
</form>
</div>
</div>
</div>
</section>


<section class="ftco-section bg-light">
		<div class="container">
		  <div class="row d-flex ">
			<div class="col-md-3 d-flex align-self-stretch ftco-animate oppanding">
			  <div class="media block-6 services py-4 d-block text-center oppanding">
				<div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-housekeeping"></span></div></div>
				<div class="media-body p-2 mt-2">
				  <h3 class="heading mb-3" >Maid </h3>
				  <p>A small river named Duden flows by their place and supplies.</p>
				</div>
			  </div>      
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate oppanding">
			  <div class="media block-6 services py-4 d-block text-center oppanding">
				<div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-tap"></span></div></div>
				<div class="media-body p-2 mt-2">
				  <h3 class="heading mb-3"> Plumber </h3>
				  <p>A small river named Duden flows by their place and supplies.</p>
				</div>
			  </div>    
			</div>
			<div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate oppanding">
			  <div class="media block-6 services py-4 d-block text-center oppanding">
				<div class="d-flex justify-content-center"><div  class="icon"><span class="flaticon-varnish"></span></div></div>
				<div class="media-body p-2 mt-2">
				  <h3 class="heading mb-3"> Painter </h3>
				  <p>A small river named Duden flows by their place and supplies.</p>
				</div>
			  </div>      
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate oppanding">
			  <div class="media block-6 services py-4 d-block text-center oppanding">
				<div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-carpenter"></span></div></div>
				<div class="media-body p-2 mt-2">
				  <h3 class="heading mb-3"> Carpentry </h3>
				  <p>A small river named Duden flows by their place and supplies.</p>
				</div>
			  </div>      
			</div>
  
			
  
  
  
			  <div class="col-md-3 d-flex align-self-stretch ftco-animate oppanding">
				<div class="media block-6 services py-4 d-block text-center oppanding">
				  <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-electrician"></span></div></div>
				  <div class="media-body p-2 mt-2">
					<h3 class="heading mb-3"> Electric Repairing </h3>
					<p>A small river named Duden flows by their place and supplies.</p>
				  </div>
				</div>      
			  </div>
			  <div class="col-md-3 d-flex align-self-stretch ftco-animate oppanding">
				<div class="media block-6 services py-4 d-block text-center oppanding">
				  <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-postal"></span></div></div>
				  <div class="media-body p-2 mt-2">
					<h3 class="heading mb-3"> Speed Post </h3>
					<p>A small river named Duden flows by their place and supplies.</p>
				  </div>
				</div>    
			  </div>
			  <div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate oppanding">
				<div class="media block-6 services py-4 d-block text-center oppanding">
				  <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-sketch"></span></div></div>
				  <div class="media-body p-2 mt-2">
					<h3 class="heading mb-3"> Inteior Desigining </h3>
					<p>A small river named Duden flows by their place and supplies.</p>
				  </div>
				</div>      
			  </div>
			  <div class="col-md-3 d-flex align-self-stretch ftco-animate oppanding">
				<div class="media block-6 services py-4 d-block text-center oppanding">
				  <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-watering-plant"></span></div></div>
				  <div class="media-body p-2 mt-2">
					<h3 class="heading mb-3">  Garderning </h3>
					<p>A small river named Duden flows by their place and supplies.</p>
				  </div>
				</div>      
			  </div>
			 </div>
		  </div>
		</section>
		
	  
	  
	  
	  <section class="ftco-section ftco-properties">
		  <div class="container">
			  <div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Recent Posts</span>
			  <h2 class="mb-4">Recent Product</h2>
			</div>
		  </div>
			  <div class="row">
				  <div class="col-md-12">
					  <div class="properties-slider owl-carousel ftco-animate">
						  <div class="item">
							  <div class="properties">
								  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/0.jpg' %});">
									  <div class="icon d-flex justify-content-center align-items-center">
										  <span class="icon-search2"></span>
									  </div>
								  </a>
								  <div class="text p-3">
									  <div class="d-flex">
										  <div class="one">
											  <h3><a href="#">Best sofaces </a></h3>
											  <p>good</p>
										  </div>
										  <div class="two">
											  <span class="price">$200</span>
										  </div>
									  </div>
								  </div>
							  </div>
						  </div>
						  <div class="item">
							  <div class="properties">
								  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/9.jpg' %});">
									  <div class="icon d-flex justify-content-center align-items-center">
										  <span class="icon-search2"></span>
									  </div>
								  </a>
								  <div class="text p-3">
									  <div class="d-flex">
										  
										  <div class="one">
											  <h3><a href="#">goood</a></h3>
											  <p>daining tabel</p>
										  </div>
										  <div class="two">
											  <span class="price">$350 </span>
										  </div>
									  </div>
								  </div>
							  </div>
						  </div>
						  <div class="item">
							  <div class="properties">
								  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/5.jpg' %});">
									  <div class="icon d-flex justify-content-center align-items-center">
										  <span class="icon-search2"></span>
									  </div>
								  </a>
								  <div class="text p-3">
									  
									  <div class="d-flex">
										  <div class="one">
											  <h3><a href="#">good</a></h3>
											  <p>Tv</p>
										  </div>
										  <div class="two">
											  <span class="price">$100.50</span>
										  </div>
									  </div>
								  </div>
							  </div>
						  </div>
						  <div class="item">
							  <div class="properties">
								  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/properties-2.jpg' %});">
									  <div class="icon d-flex justify-content-center align-items-center">
										  <span class="icon-search2"></span>
									  </div>
								  </a>
								  <div class="text p-3">
									  <span class="status sale"></span>
									  <div class="d-flex">
										  <div class="one">
											  <h3><a href="#">goood</a></h3>
											  <p>goood</p>
										  </div>
										  <div class="two">
											  <span class="price">$400</span>
										  </div>
									  </div>
								  </div>
							  </div>
						  </div>
						  <div class="item">
							  <div class="properties">
								  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/10.jpg' %});">
									  <div class="icon d-flex justify-content-center align-items-center">
										  <span class="icon-search2"></span>
									  </div>
								  </a>
								  <div class="text p-3">
									  
									  <div class="d-flex">
										  <div class="one">
											  <h3><a href="#">good</a></h3>
											  <p>good</p>
										  </div>
										  <div class="two">
											  <span class="price">$900 </span>
										  </div>
									  </div>
								  </div>
							  </div>
						  </div>
						  <div class="item">
							  <div class="properties">
								  <a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/3.jpg' %});">
									  <div class="icon d-flex justify-content-center align-items-center">
										  <span class="icon-search2"></span>
									  </div>
								  </a>
								  <div class="text p-3">
									  
									  <div class="d-flex">
										  <div class="one">
											  <h3><a href="#">fulll</a></h3>
											  <p>good</p>
										  </div>
										  <div class="two">
											  <span class="price">$20</span>
										  </div>
									  </div>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </section>
  





	  <section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
		<div class="col-md-7 heading-section text-center ftco-animate">
		  <span class="subheading">Special Offers</span>
		  <h2 class="mb-4">Most Recommended Product</h2>
		</div>
		</div>    		
		</div>
		<div class="container-fluid">
		  <div class="row">
			<div class="col-sm col-md-6 col-lg ftco-animate">
			  <div class="properties">
				<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/7.jpg' %});">
				  <div class="icon d-flex justify-content-center align-items-center">
					<span class="icon-search2"></span>
				  </div>
				</a>
				<div class="text p-3">
				  
				  <div class="d-flex">
					<div class="one">
					  <h3><a href="#">badsga</a></h3>
					  <p>good</p>
					</div>
					<div class="two">
					  <span class="price">$200</span>
					</div>
				  </div>
				  <p>Far far away, behind the word mountains, far from the countries</p>
				  <hr>
				  <p class="bottom-area d-flex">
					<span><i class="flaticon-selection"></i> 250sqft</span>
					<span class="ml-auto"><i class="flaticon-bathtub"></i> 3</span>
					<span><i class="flaticon-bed"></i> 4</span>
				  </p>
				</div>
			  </div>
			</div>
			<div class="col-sm col-md-6 col-lg ftco-animate">
			  <div class="properties">
				<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/1.jpg' %});">
				  <div class="icon d-flex justify-content-center align-items-center">
					<span class="icon-search2"></span>
				  </div>
				</a>
				<div class="text p-3">
			  
				  <div class="d-flex">
					<div class="one">
					  <h3><a href="#"> Parchmore </a></h3>
					  <p>good</p>
					</div>
					<div class="two">
					  <span class="price">$800</span>
					</div>
				  </div>
				  <p>Far far away, behind the word mountains, far from the countries</p>
				  <hr>
				  <p class="bottom-area d-flex">
					<span><i class="flaticon-selection"></i> 250sqft</span>
					<span class="ml-auto"><i class="flaticon-bathtub"></i> 3</span>
					<span><i class="flaticon-bed"></i> 4</span>
				  </p>
				</div>
			  </div>
			</div>
			<div class="col-sm col-md-6 col-lg ftco-animate">
			  <div class="properties">
				<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/6.jpg' %});">
				  <div class="icon d-flex justify-content-center align-items-center">
					<span class="icon-search2"></span>
				  </div>
				</a>
				<div class="text p-3">
				  
				  <div class="d-flex">
					<div class="one">
					  <h3><a href="#">Abc</a></h3>
					  <p>good</p>
					</div>
					<div class="two">
					  <span class="price">$800 </span>
					</div>
				  </div>
				  <p>Far far away, behind the word mountains, far from the countries</p>
				  <hr>
				  <p class="bottom-area d-flex">
					<span><i class="flaticon-selection"></i> 250sqft</span>
					<span class="ml-auto"><i class="flaticon-bathtub"></i> 3</span>
					<span><i class="flaticon-bed"></i> 4</span>
				  </p>
				</div>
			  </div>
			</div>
			<div class="col-sm col-md-6 col-lg ftco-animate">
			  <div class="properties">
				<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/4.jpg'%});">
				  <div class="icon d-flex justify-content-center align-items-center">
					<span class="icon-search2"></span>
				  </div>
				</a>
				<div class="text p-3">
				
				  <div class="d-flex">
					<div class="one">
					  <h3><a href="#">good</a></h3>
					  <p>good</p>
					</div>
					<div class="two">
					  <span class="price">$200</span>
					</div>
				  </div>
				  <p>Far far away, behind the word mountains, far from the countries</p>
				  <hr>
				  <p class="bottom-area d-flex">
					<span><i class="flaticon-selection"></i> 250sqft</span>
					<span class="ml-auto"><i class="flaticon-bathtub"></i> 3</span>
					<span><i class="flaticon-bed"></i> 4</span>
				  </p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>		
	  


  {% endblock %}