{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block menu %}
	<li class="nav-item "><a href="{% url 'index' %}" class="nav-link">Home</a></li>
	<li class="nav-item " ><a href="{% url 'Product' %}" class="nav-link">Products</a></li>
	<li class="nav-item"><a href="{% url 'myorder' %}" class="nav-link">myorder</a></li>
	<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
	<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
{% endblock %}
{% block content %}

<style>
    body{
        background-image: url({% static 'images/bg_1.jpg' %})
		}
		.bordered {
			border: 1px solid black;
			border-radius: 8px;
		  }
  
		  .borderedform {
			border: 1px solid white;
			border-radius: 8px;
		  }
	</style>

<section class="ftco-section contact-section "  style="align-self: center">
   
	<div class="container" style="align-self: center">
		
		  
		<div class="row block-12" style="align-self: center" >
		  <div class="col-md-5 borderedform" style="align-self:center;margin-left:30%;padding-top:1%;  width:45%; background-color:white">
			 
			<form method='post' > 
				{% csrf_token %} 
				<center><h2>
					<strong>
					  Detail
					</strong>
				  </h2></center>
				<hr>
		<table>
		{{ form|crispy}}
		</table>
		<div class="form-group"><center>
			<input type="submit" value="submit"  class="btn btn-primary py-3 px-5" style="background-color: blue" >    
		  </center> 
		  </div>

			</form>
		  </div>
		</center>
  </section>


{% endblock %}