{% extends 'base.html' %}
{% load static %}
{% block menu %}
	<li class="nav-item "><a href="{% url 'index' %}" class="nav-link">Home</a></li>
	<li class="nav-item " ><a href="{% url 'Product' %}" class="nav-link">Products</a></li>
	<li class="nav-item"><a href="{% url 'myorder' %}" class="nav-link">myorder</a></li>
	<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
	<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
{% endblock %}
{% block content %}

<style>
    body{
        background-image: url({% static 'images/bg_1.jpg' %})
        }
        
        .bordered {
          border: 1px solid black;
          border-radius: 8px;
        }

        .borderedform {
          border: 1px solid white;
          border-radius: 8px;
        }
</style>




<section class="ftco-section contact-section "  style="align-self: center">
   
  <div class="container" style="align-self: center">
      
        
      <div class="row block-12" style="align-self: center" >
        <div class="col-md-5 borderedform" style="align-self:center;margin-left:30%;padding-top:1%;  width:45%; background-color:white">
           
          <form action="{% url 'signin' %}" method="POST" >
            {% csrf_token %}
            <center>
            <h2>
              <strong>
                Login
              </strong>
            </h2>
          </center>
          <hr>
           <div class="form-group" >
              <input type="email" class="form-control bordered" name='email' placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control bordered" name='password' placeholder="Password" required>
            </div>
            <div class="form-group"><center>
              <input type="submit" value="Login"  class="btn btn-primary py-3 px-5" style="background-color: blue" >    
            </center> 
            </div>
            <center style="color: red;">
            {{Message}}
          </center>
          <center>
            <p> <a href="{% url 'password_reset' %}" class="secondary" color:"blue">password reset ?</a></p>
          </center>
          </form>
        </div>
      </center>
</section>
{% endblock %}


